* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
/* clearfixを追加 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.header {
  width: 100%;  /* 横幅いっぱい */
  height: 50px;  /* 高さ50px */
  background-color: red;  /* 背景色red */
}
.main-visual {
  width: 100%;  /* 横幅いっぱい */
  height: 500px;  /* 高さ300px */
  background-color: orange;  /* 背景色orange */
}
.main {
  width: 960px;  /* 横幅960px */
  background-color: green;  /* 背景色green */
  /* 中央寄せ (余白がないとできない) */
  margin: 0 auto;
}
.main1 {
  width: 230px;  /* 横幅230px */
  height: 1400px;  /* 高さ1400px */
  background-color: palegreen;  /* 背景色palegreen */
  float: left;  /* 要素を左揃えで並べる */
}
.main2 {
  width: 500px;  /* 横幅500px */
  height: 1400px;  /* 高さ1400px */
  background-color: limegreen;  /* 背景色limegreen */
  float: left;  /* 要素を左揃えで並べる */
}
.footer {
  width: 100%;  /* 横幅いっぱい */
  height: 100px;  /* 高さ100px */
  background-color: blue;  /* 背景色blue */
}